apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 335547864083.dkr.ecr.us-west-2.amazonaws.com/shopping-site-backend:b23193a3f35699a7d5abf474579c3897a335bc12
          ports:
            - containerPort: 5000
